<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Color mapping for log levels -->
    <conversionRule conversionWord="highlightex" 
                    converterClass="ch.qos.logback.classic.pattern.color.HighlightingCompositeConverter" />
    
    <property name="CONSOLE_LOG_PATTERN"
              value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%blue(%t)] %cyan(%logger{36}) : %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.example.streaming.model" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
